@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700;800&display=swap");

* {
  margin: 0;
}

/* common styles */
.default-container {
  width: 90%;
  margin: 5rem auto;
  border-radius: 16px;
}

h3 {
  color: #001f3f;
  font-family: Mulish;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

p,
li {
  color: #001f3f;
  text-align: center;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.span {
  color: #ff5400;
}

.btn-primary {
  width: 175px;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  padding: 0.7rem 1.2rem;
  color: #fffff0;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  background: #ff5400;
  border: 1px solid #ff5400;
  cursor: pointer;
  transition: box-shadow ease-in 0.6s;
}

.btn-primary:hover {
  box-shadow: inset 20rem 0 0 0 #001f3f;
}

input,
select {
  width: 175px;
  height: 50px;
  padding: 0 0.5rem;
  margin: 0 1rem;
  border-radius: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border: 2px solid transparent;
  text-transform: capitalize;
}

input:focus {
  outline: none;
  border: 2px solid #ff5400;
}

/* nav bar */
.nav-bar {
  margin: 2rem auto;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo img {
  width: 48px;
  height: 56px;
}

.nav-option {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
}

.nav-option p {
  cursor: pointer;
}

/* explore-your-travel */
.explore-your-travel {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("./images/explore.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7rem 0;
  margin-top: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.explore-container h3 {
  color: #fffff0;
  font-size: 64px;
  font-weight: 800;
}

.explore-container p,
.commonPinMID {
  color: rgba(255, 255, 240, 0.774);
  font-size: 18px;
  line-height: 26px;
  width: 676px;
  padding: 1.5rem 0;
  margin: auto;
}

.travel-inputs {
  margin-top: 2rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
  backdrop-filter: blur(4px);
}

/* our popular tours */

.popular-tour-dis p,
.popular-tour-dis li {
  font-size: 16px;
}
.popular-tour-dis p,
.popular-tour-dis li,
.popular-tour-dis h3 {
  text-align: left;
}
.popular-tour-dis {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: flex-start;
  justify-content: space-between;
}

li {
  margin: 1rem 0;
}
.popular-tour-dis button {
  /* margin-top: 2rem; */
  padding: 0.7rem 2.2rem;
}
.popular-section .image {
  border-radius: 16px;
}
.popular-section .image img,
.your-destination img {
  height: 100%;
  width: 100%;
}

.popular-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

/* your destination */
.commonPinMID {
  color: #001f3fa2;
  padding: 1rem 0;
}

.row-1,
.row-2,
.row-3 {
  margin: 1rem 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}
.row-2 {
  grid-template-columns: 0.75fr 1.5fr 0.75fr;
}
.row-3 {
  grid-template-columns: 0.75fr 1.25fr;
}
.your-destination img {
  height: 300px;
  filter: brightness(70%);
}

.country-card {
  position: relative;
  cursor: pointer;
}

.country {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

/* why choose us */
.handpicked-hotel,
.world-class-service,
.best-price-guarantee {
  padding: 2rem;
  border-radius: 16px;
}

.handpicked-hotel {
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}

.world-class-service {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}

.best-price-guarantee {
  width: 550px;
  margin: 1rem auto;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}

.choose-us-image {
  width: 64px;
  height: 64px;
}

.choose-us-card-title {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  text-align: left;
  margin-top: 1rem;
}

.choose-us-card-dis {
  color: #5a5a5d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  margin-top: 1rem;
}
